@charset "ISO-8859-1";

body{
    margin: 0;
    padding: 0;
    background-image: url(./images/cherr.jpg)
}
#container{
    height: 400px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.679);

}

#nm,#mb,#em,#ps {
height: 30px ;
width : 300px ;
}


button{
    font-size: 20px;
}
#button-cancel{
    position: relative;
    left: 40px;
}
#pic{
    font-size: 18px;
}
.genx{
   position: relative;
   top: 20px;
}
button:hover{
    scale: 1.2;
    background-color: rgba(56, 56, 235, 0.84);
}

.main{
    display: flex;
margin: auto;
    height: 60px;
    width: 1350px;
    background-color: rgba(165, 42, 42, 0.848);
   justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: white;
}
#drop{
    font-size: 20px;
}
#hm{
    position: relative;
    left: -550px;
    background-color: white;
    height: 20px;
    width: 70px;
    text-align: center;

   
}

#hm:hover{
    scale: 1.2;
    background-color: blue;
    color: white;
  
  

}